html,
body {
   margin:0;
   padding:0;
   height:100%;
   text-align: center;
   font-family: 'Noto Sans', sans-serif;
   background:#000;
   color: #999;
}

#wikiSearch {
	color: #000;
}

a {
	color: #999;
}

a:hover {
	color: #aaa;
}

ul {
	list-style-type: none;
}

li {
	border-bottom: solid;
	border-top: solid;
	border-bottom-color: black;
	border-top-color: black;
}

li:hover {
    border-bottom-color: yellow;
	border-top-color: yellow;
}

/*
#container {
   padding-left: 100px;
   padding-right: 100px;
   min-height:100%;
   position:relative;
   background:#000;
   color: #999;
   
 }*/
  
#header {
   position:absolute; 
   top:0px; 
   left:0px; 
   margin-top:  10px;
   height:60px; 
   right:0px;
   overflow:hidden;
}

#inner {
   position:absolute; 
   top:70px; 
   bottom:70px; 
   left:0px; 
   right:0px; 
   padding-right: 10%;
   padding-left: 10%;
   overflow:auto;
}

#footer {
   position:absolute; 
   bottom:0px; 
   height:60px; 
   left:0px; 
   right:0px; 
   overflow:hidden;
   text-align:right;  
   margin-right: 1%;
}

#footer .fa:hover{
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  color: red;
}

#searchform input[type="text"] {
	height:36px;
	font-size: 20px;
	background:#e8e8e8;
	padding-left: 5px;
	border:none;
	border-radius: 5px;
	width:200px;
	height:40px;
	line-height:20px;
	color:#585858;
}	

#searchform input[type="text"]:hover, #searchform input[type="text"]:focus {
	background-color:white;
	}

.btn {
	position: relative;
	margin-top: 10px;
    border: none;
	border-radius: 5px; 
    color: black;
    height: 42px;
	font-size: 20px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn:hover{
	background-color:white;
	}

.btn:after {
    content: "";
    background: yellow; 
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/*
@media all and (min-width: 768px){
	#inner{
		padding-left: 400 px;
		padding-right: 400 px;
	}
}
*/

/*
@media (min-width: 768px) {
  /* Start the vertical centering 
  .inner {
    vertical-align: middle;
  }
  /* Handle the widths 
  .header,
  .footer,
  .inner {
    width: 100%; /* Must be percentage or pixels for horizontal alignment 
  }
}

@media (min-width: 992px) {
  .header,
  .footer,
  .inner {
    width: 700px;
  }
}
*/